@font-face {
	font-family: 'SEGOEUIL';
	src: url('../fonts/SEGOEUIL.eot');
	src: local('SEGOEUIL'), url('../fonts/SEGOEUIL.woff') format('woff'), url('../fonts/SEGOEUIL.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_1409">Text with this font applied</p> */
.fontsforweb_fontid_1409 {
	font-family: 'SEGOEUIL' !important;
}

legend {
    display: block;
    -webkit-padding-start: 2px;
    -webkit-padding-end: 2px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border: none;
}
.wp-alert{
    top:130px;
    right:20px;
    position: absolute;
    z-index: 8000;
}
.alert-box {
  border-style: solid;
  border-width: 1px;
  display: block;
  font-size: 1.8125rem;
  font-weight: normal;
  margin-bottom: 1.25rem;
  padding: 0.875rem 1.5rem 0.875rem 0.875rem;
  position: relative;
  transition: opacity 300ms ease-out;
  background-color: #008CBA;
  border-color: #0078a0;
  color: #FFFFFF; 
}
.alert-box .close {
    right: 0.25rem;
    background: inherit;
    color: #333333;
    font-size: 1.375rem;
    line-height: .9;
    margin-top: -0.6875rem;
    opacity: 0.3;
    padding: 0 6px 4px;
    position: absolute;
    top: 50%; }
    .alert-box .close:hover, .alert-box .close:focus {
      opacity: 0.5; }
  .alert-box.radius {
    border-radius: 3px; }
  .alert-box.round {
    border-radius: 1000px; }
  .alert-box.success {
    background-color: #43AC6A;
    border-color: #3a945b;
    color: #FFFFFF; }
  .alert-box.alert {
    background-color: #f04124;
    border-color: #de2d0f;
    color: #FFFFFF; }
  .alert-box.secondary {
    background-color: #e7e7e7;
    border-color: #c7c7c7;
    color: #4f4f4f; }
  .alert-box.warning {
    background-color: #f08a24;
    border-color: #de770f;
    color: #FFFFFF; }
  .alert-box.info {
    background-color: #a0d3e8;
    border-color: #74bfdd;
    color: #4f4f4f; }
  .alert-box.alert-close {
    opacity: 0; }
    
.mynavbar
{
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.6);
    border-radius: 0px;
    
}
.mylogo
{
    position: relative;
    top: -8px;
}
.mylogo img
{
    width: 190px;
}

@media (min-width: 767px)
{
    .navbar-right li
    {
        padding: 0px 4px 0px 4px;
        height: 50px;
    }
                        
    #myNavbar #hoverEffects li a
    {
        color: #fff;
        font-size: 16px;
        height:0px;
        background: transparent;
        animation-timing-function: linear;
        transition:height  0.15s;
    }
                    
    #myNavbar #hoverEffects li:hover a
    {
        height: 50px;
        color:black;
        background: #ffffff;    
    }
    #myNavbar #hoverEffects li ul 
    {
        top: 50px;
    }
                    
    #myNavbar #hoverEffects li ul li
    {
        height: 45px;
    }
    #myNavbar ul li ul li a
    {
        color: black;
        transition: 0.3s;
    }
    #myNavbar hoverEffects li ul li a:hover
    {
        color: #2eb161;
    }
}

@media (max-width: 950px)
{
    .mylogo
    {
        position: relative;
        left: 0px;
        top: -8px;
    }
    .navbar-right li
    {
        padding: 0px 0px 0px 0px;
    }
                    
}

@media (max-width: 829px)
{
    .mylogo img
    {
        width:150px;
                
                
    }
    .mylogo
    {
        top:-4.5px;            
    }
                    
    #myNavbar ul li a
    {
        font-size: 14px;
    }
}
@media (max-width: 744px)
{
    .mylogo img
    {
        width:190px;    
    }
    .mylogo
    {
        top:-6px;        
                
    }
                
}
            
@media (max-width: 767px)
{
 
                
    #myNavbar ul li:hover
    {
        background: #fff;
                        
    }
                    
    #myNavbar ul li a
    {
        color:#fff;
                    
    }
                
    #myNavbar ul li ul li a:hover
    {
        color:#2eb161;
                    
    }
    #myNavbar ul li:hover a
    {
        background: transparent;
        color:black;
                   
    }
                
               
                
                
                
}
            
            
#mynavtriggerbutton
{
    border:none;
    color:#fff;
    transition: 0.3s;
}
#mynavtriggerbutton span
{
    transition: 0.3s;
}
            
#mynavtriggerbutton:hover
{
    background: #fff;
                
}
#mynavtriggerbutton:hover span
{
    background: #002542;
}
#navbarContainer
{
	width: 98%;
	
}
#myNavbar ul li a{
	font-family: 'SEGOEUIL';
	font-size: 16px;
}
.mynavbar
{
	background: #000;
}

.mynavbar>div {
	margin: 0 2%;
}


.mynavbar #loginSignup>li:nth-child(1)
{
	margin-left: -25%;
    margin-right: 18%;

}
.mynavbar #loginSignup>li:nth-child(1)>a:hover
{
	background: transparent;
	color: #fff;
}

.mynavbar #loginSignup>li:nth-child(2)>a
{
	background: transparent;
	color: #fff;
}

.mynavbar #loginSignup>li:nth-child(2)>a:hover
{
	background: #fff;
	color: #11a339;
}

.mynavbar #loginSignup li a
{
	padding: 8% 0% 8% 0%;
    width: 69px;
    text-align: center;
    margin-top: 12%;
	background: #fff;
	color: #11a339;
	border-radius: 4px;
	border: solid 1px #fff;
	transition: 0.2s linear;
	-wekit-transition: 0.2s linear;
	
}
.navbar-inverse .navbar-nav>li>a
{
	color: #F9F9F9;
}

            