body
{
    align-items: center;
}

#top_background
{
    width: 100%;

}

.all
{   
    margin-top: -3%;
    width:100%;
    left: 0%;
    color: #000;
    height: 400%;
    align-items: center;
    
}

#tit
{
    position: relative;
    /*z-index: 100;*/
    /*margin-top: 12%;*/
    font-size: 43px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    /*margin-left: 36%;*/
    text-align: center;
    margin-top: -12%;
    margin-bottom: 10%;
}

.all .policy_para
{
    
}

.all .policy_para p
{
    margin-left:10%;
    margin-right: 10%;
	color: #333333;
}


.all .pri_blog
{
    
   
    
    margin-left: 10%;
    
    height: 16%;;
    width: 80%;
    text-align: center;
    
}

.all .pri_blog div
{
    float: left;
    
    height: auto;
    width: 32%;
    
   
}













/*FOOTER-----------------------*/