#section1>div {
	color: #fff;
	text-align: center;
	padding: 15% 5% 5% 5%;
}

#section1 {
	background: url(../../img/about_us/About%20Us.png);
	background-size: cover;
}

#section1>div>div {
}

#section1>div>#col2 {
	border-right: solid 2px #fff;
	border-left: solid 2px #fff;
}

#section1>div>#header {
	padding-bottom: 1%;
}

#section1>div>#order_now>a {
	margin-top: 6%;
}
.gap1 {
	width: 100%;
	height: 1px;
}
.gap10 {
	width: 100%;
	height: 10px;
}
.gap20 {
	width: 100%;
	height: 20px;
}
.gap30 {
	width: 100%;
	height: 30px;
}
.gap40 {
	width: 100%;
	height: 40px;
}
.gap50 {
	width: 100%;
	height: 50px;
}
.section {
	width:100%;
	height:100%;
}
.one {
	padding-bottom: 50px;
}
.heading-section-side {
	width:60%;
	font-size: 40px;
	font-weight: 220;
	color: rgba(0,0,0,0.76);
	margin-left: auto;
	margin-right: auto;
}
.heading-section-side p {
	font-size: 33px;
	max-width:640px;
	width: 100%;
	font-weight: 300 !important;
	margin-left: auto;
	margin-right: auto;
}
.heading-section-side .line-who-we-are {
	width:80px;
	height:4px;
	background-color: #11A339;
	margin-top: -32px;
	margin-bottom: 40px;
	margin-left: 26px;
}
.first {
	width: 100px !important;
}
.para-section {
	width:60%;
	margin-left: auto;
	margin-right: auto;
	font-size: 18px;
	line-height: 35px;
	color: rgba(0,0,0,0.62);
	font-weight: 300;
	text-align:left;
	margin-bottom: 20px;
}
#map {
	max-width: 450px;
	max-height:450px;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
}
#map img {
	width:100%;
	height:100%;
}
.two {
	height:100%;
	background-color: #f1f1f1;
	padding-bottom: 80px;
}
.heading-section p {
	font-size: 37px;
	max-width:640px;
	width: 100%;
	font-weight: 300 !important;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.heading-section .line-who-we-are {
	width:80px;
	height:4px;
	background-color: #11A339;
	margin-left: auto;
	margin-right: auto;
	margin-top: -38px;
	margin-bottom: 40px;
}
.two .row {
	width:70% !important;
	margin-left: auto;
	margin-right: auto;
}
.box {
	width:300px;
	height:100%;
}
.job-info {
	font-size: 18px;
	width: 100%;
	font-weight: 300 !important;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 50px;
}
.box-inside {
	width:200px;
	height:200px;
	background-color: #aaa;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}
.job-title {
	width:100%;
	height:30px;
	font-size: 16px;
	text-align: center;
	color: #11A339;
}
.three {
	height:100%;
	padding-bottom: 100px;
}
.three .row {
	width:70% !important;
	margin-left: auto;
	margin-right: auto;	
}



.container-test {
	width:80%;
	height:100%;
	margin-left: auto;
	margin-right: auto;
}
.container-test .slider-nav {
	width:100%;
	height:auto !important;
	/*background-color: #218999;*/
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 10px;
}
.slick-prev, .slick-next {
	width: 20px !important;
	height: 20px !important;
	font-weight: bolder !important;
	/*background: #11A339 !important;*/
}
.slider-nav div {
	border-right: 20px solid #fff;
	border-left: 20px solid #fff;
	background-color: #ddd;
}
.slick-slide {
	/*background-color: #271899;*/
	display: block;
	height: 180px !important;
}
div.slider:nth-child(2) {
	height:auto !important;
}
.slider-for div {
	width: 700px;
	height:100% !important;
	text-align: center;
	/*background-color: #328999;*/
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
}
.test-name {
	font-size: 21px;
	margin-top: -2px;
	margin-bottom: 60px;
}
.test-name span {
	font-size: 15px;
}
.test-views {
	width: calc(100% - 50px) !important;
	padding-top: 20px;
	padding-bottom: 20px;
	line-height: 25px;
	padding-right: 20px;
	background-color: #ccc !important;
}
.draggable {
	padding: 0px 0px !important;
	margin-left: -10px;
}
.nx {
	background-color: #999 !important;
}
@media screen and (max-width:552px) {
	.heading-section {
		width: 90%;
	}
	.para-section {
		width: 90%;
	}
	.box {
		margin-bottom: 30px;
	}
}




















/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}














.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: #11A339;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: #11A339;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: #11A339;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

/*.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}
*/