#section1>div {
	color: #fff;
	text-align: center;
	padding: 15% 5% 5% 5%;
}

#section1 {
	background: url(../../img/about_us/About%20Us.png);
	background-size: cover;
}

#section1>div>div {
}

#section1>div>#col2 {
	border-right: solid 2px #fff;
	border-left: solid 2px #fff;
}

#section1>div>#header {
	padding-bottom: 1%;
}

#section1>div>#order_now>a {
	margin-top: 6%;
}
.gap1 {
	width: 100%;
	height: 1px;
}
.gap10 {
	width: 100%;
	height: 10px;
}
.gap20 {
	width: 100%;
	height: 20px;
}
.gap30 {
	width: 100%;
	height: 30px;
}
.gap40 {
	width: 100%;
	height: 40px;
}
.gap50 {
	width: 100%;
	height: 50px;
}
.section-two {
	background-color: #fff;
	width:100%;
	height:100%;
}
.heading-section {
	font-size: 40px;
	font-weight: 220;
	color: rgba(0,0,0,0.76);
	text-align: center;
}
.heading-section p {
	font-size: 37px;
	max-width:640px;
	width: 100%;
	font-weight: 300 !important;
	margin-left: auto;
	margin-right: auto;
	/*background-color: #ffcc00;*/
}
.para-section {
	width:60%;
	margin-left: auto;
	margin-right: auto;
	font-size: 20px;
	line-height: 35px;
	color: rgba(0,0,0,0.62);
	font-weight: 300;
	text-align: center;
	margin-bottom: 20px;
}
.heading-section .line-who-we-are {
	width:80px;
	height:4px;
	background-color: #11A339;
	margin-left: auto;
	margin-right: auto;
	margin-top: -38px;
	margin-bottom: 40px;
}
.ul-inside {
	text-align: left;
}
.ul-inside ul {
	margin-left: 60px;
}
.ul-inside ul li {
	margin-left: 100px;
	color: rgba(0,0,0,0.62);
    list-style-type: disc;
    margin-left: 1em;
}
.contain {
	width:80%;
}
.contain .col {
	/*background-color: #ff3627;*/
	padding-left: 20px;
	padding-right: 20px;
}
.box {
	height: 350px;
	/*background-color: #ffcc00;*/
}
.image-box {
	width:170px;
	height:170px;
	margin-left: auto;
	margin-right: auto;
	background-color: #cccccc;
}
.name-intro-box {
	/*background-color: #217878;*/
	line-height: 26px;
	font-size: 16px;
	margin-top: 5px;
}
.bio-box {
	line-height: 25px;
	font-size: 17px;
}
.apply-box-open {
	width:100%;
	margin-bottom: 20px;
}
.apply-box-open .btn {
	height:60px;
	font-size: 17px;
}
.magic-form-container {
	width:100%;
	height:100%;
	background-color: #eeeeee;
	padding-top: 50px;
	padding-bottom: 100px;
}
.form-box {
	width:50%;
	height:100%;
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
	padding-left: 30px;
	padding-right: 30px;
}
.apply-for-partnership {
	text-align: center;
	color: rgba(0,0,0,0.58);
	font-size: 30px;
	padding-top: 20px;
	padding-bottom: 10px;
	margin-bottom: 40px;
}
@media screen and (max-width: 800px) {
	.ul-inside ul {
		margin-left: 0px;
	}
}
.first {
	width: 200px !important;
}
.second {
	width: 130px !important;
}
.third {
	width: 220px !important;
}
.fourth {
	width: 130px !important;
}