.one {
	width:100%;
	height: auto;
	padding-top: 100px;
	padding-bottom: 40px;
	background-color: #fff;
}
.gap1 {
	width: 100%;
	height: 1px;
}
.gap10 {
	width: 100%;
	height: 10px;
}
.gap20 {
	width: 100%;
	height: 20px;
}
.gap30 {
	width: 100%;
	height: 30px;
}
.gap40 {
	width: 100%;
	height: 40px;
}
.gap50 {
	width: 100%;
	height: 50px;
}
.form-container {
	width:90%;
	height: 100%;
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 20px;
	box-shadow: 0 0 3px #aaa;
}
.heading {
	font-size: 40px;
	text-align: center;
	font-weight: 300;
	margin-bottom: 40px;
}
.md {
	margin-top: -35px;
}
.input-heading {
	padding-bottom: 4px;
	font-size: 16px;
	color: #999;
	margin-bottom: -5px;
}
.odd {
	padding-left: 10px;
	margin-bottom: 10px;
}
.odd-xx {
	margin-left: -15px;
}
.hide {
	display: none;
}
.mdx {
	margin-top: -20px;
}
.two {
	width:100%;
	height: 475px;
	box-shadow: 0 0 3px #888; 
	background-color: #ccc;
	margin-left: 12px;
}
.twox {
	width:100%;
}
.leftx {
	margin-top: 100px;
}
.mod {
	width:60% !important;
	background-color: white;
	color: #000;
}
.card-content {
	background-color: white;
	color: #000 !important;
}
.rightx {
	margin-bottom: 20px;
}
.card-content p i {
	padding-right: 5px;
}
@media screen and (max-width: 992px) {
	.two {
		width:90%;
		margin-left: auto;
		margin-right: auto;
	}	
	.twox {
		width:90%;
		margin-left: auto;
		margin-right: auto;
	}
	.mod {
		max-width: 400px;
		width:90% !important;
	}
}
