<<<<<<< HEAD
.my-buttons {
	font-size: 10px;
    padding: 0px 9px;
}
=======
/*@import "compass/css3";

@import "compass";*/
@import url("http://fonts.googleapis.com/css?family=Lato");

$background: #e74c3c;
$select-color: #fff;
$select-background: #c0392b;
$select-width: 220px;
$select-height: 40px; 



.my-buttons {
	font-size: 10px;
    padding: 0px 9px;
}

.option-label{
	line-height: 40px;
    font-size: 17px;
}




.select-custom{
	outline: none !important;
	font-size: 16px;
}
.select-custom option{
	min-height: 30px !important;
	font-size: 16px !important;
}

>>>>>>> 40634482d2796d8d3aa00309dd8655353af9d82c
