.main-container {
	width: 78%;
	height:auto;
	margin-left: auto;
	margin-right: auto;
	padding-top: 90px;
}
.faqs {
	font-size: 40px;
	text-align: center;
	color: rgba(0,0,0,.71);
}
.zip {
	padding: 10px !important;
	padding-left: 20px !important;
	padding-right: 80px !important;
	margin-bottom: 10px;
}
.ques-container {
	width:100%;
	height:100%;
}
.ques-container h5 {
	font-size: 30px;
	font-weight: 500;
	text-align: left;
	padding-bottom: 10px;
	color: rgba(0,0,0,.75);
}
.ques-container ul li {
	padding-top: 5px;
	padding-bottom: 10px;	
}
.ques-container ul li a {
	color: #11A339;
	line-height: 25px;
	padding-bottom: 10px;
}
.ques-container ul li:hover {
	text-decoration: underline;
	text-decoration-color: #11A339;
}
.gap10 {
	width: 100%;
	height: 10px;
}
.gap20 {
	width: 100%;
	height: 20px;
}
.gap30 {
	width: 100%;
	height: 30px;
}
.gap40 {
	width: 100%;
	height: 40px;
}
.gap50 {
	width: 100%;
	height: 50px;
}
.after-click-faq {
	display: none;
}
#hidden-message-faq {
	color: #666;
	cursor: pointer;
	padding-top: 10px;
	padding-left: 10px;
}
#show-message-faq {
	display: none;
	color: #666;
	cursor: pointer;
	padding-top: 10px;
	padding-left: 10px;
}
.after-click-faq-two {
	display: none;
}
#hidden-message-faq-two {
	color: #666;
	cursor: pointer;
	padding-top: 10px;
	padding-left: 10px;
}
#show-message-faq-two {
	display: none;
	color: #666;
	cursor: pointer;
	padding-top: 10px;
	padding-left: 10px;
}
.request-section {
	width: 100%;
	height:auto;
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #2eb161;
	text-align: center;
}
.request-section span {
	font-size: 40px;
	color: #fff;
}
.span {
	font-size: 20px !important;
	color: #fff;
}
button {
	text-transform: uppercase;
	font-size: 17px;
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
	background-color: #2eb161;
	border: 1px solid #fff;
	color: #fff;
	border-radius: 2px;
	margin-bottom: 50px;
}
button:hover {
	background-color: #fff;
	color: #2eb161;
}
button:focus {
	background-color: #fff;
	color: #2eb161;
}
.heading-modal {
	font-size: 30px !important;
}
.form-modal {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	padding-top: 20px;
}
#submitquestionModal {
	width: 100%;
}
@media screen and (max-width: 992px) {
	.main-container {
		width: 80%;
	}
	.zip {
		padding-right: 30px !important;
	}	
}
@media screen and (max-width: 500px) {
	.main-container {
		width: 90%;
	}
}