.leftx {
	float: left;
	width: calc(100% - 300px);
	padding-right: 50px;
}
.ques-ans {
	width: 80%;
	height: 100%;
	padding-top: 130px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	margin-bottom: 40px;
}
.question {
	font-size: 28px;
	line-height: 38px;
	padding-top: 5px;
	color: rgba(0,0,0,0.85);
	border-bottom: 1px solid #ccc;
}
.answer {
	padding-top: 35px;
	font-size: 17px;
	line-height: 30px;
	text-align: justify;
	color: rgba(0,0,0,0.65);
}
.submit-request {
	padding-top: 40px;
	font-size: 17px;
	line-height: 30px;
	text-align: justify;
	color: rgba(0,0,0,0.65);
}
.show-off {
	font-size: 12px;
	line-height: 16px;
	padding-top: 10px;
	padding-bottom: 5px;
	color: #aaa;
}


.submit-request a {
	color: #11A339;
}
.helpful-article {
	display: flex;
	width:100%;
	height:auto;
	min-height: 40px;
	margin-top: 60px;
	line-height: 40px;
	font-size: 17px;
	color: rgba(0,0,0,0.65);
}
.good {
	line-height: 35px;
	max-height: 35px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: 10px;
	font-size: 20px;
	background-color: #ddd;
	border-radius: 5px;
	border: 1px solid #bbb;
	cursor: pointer;
	color: #999;
}
.ok {
	max-height: 35px;
	line-height: 35px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 20px;
	margin-left: 10px;
	background-color: #ddd;
	border-radius: 5px;
	border: 1px solid #bbb;
	color: #999;
	cursor: pointer;
}
.rightx {
	float:right;
	width: 300px;
	height:auto;
	padding: 20px;
	padding-bottom: 50px;
}
.related-article {
	width: 100%;
	font-size: 25px;
	color: rgba(0,0,0,0.85);
	margin-bottom: 20px;
}
.rightx ul li {
	margin-bottom: 10px;
}
.rightx ul li a {
	color: #11A339;
}
.rightx ul li a:hover {
	text-decoration-color: #11A339;
	text-decoration: underline;
}
table {
	margin-top: 30px;
	margin-bottom: 30px;
}
ol li {
	padding-left: 5px;
}
.back-button {
	width: 80%;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
	margin-top: -30px;
	line-height: 30px;
	color: #11A339;
}
.back-button a {
	color: #11A339;
}
@media screen and (max-width: 992px) {
	.ques-ans {
		width: 90%;
	}
	.leftx {
		width: 100%;
		padding-right: 10px;
	}
	.back-button {
		width: 90%;
	}
}