.contain{
	width: 80%;
    padding: 2% 4%;
    background: #fff;
}
#notification_info{
	display: none;
	width: 70%;
	padding: 2% 4%;
	background: #fff;
}
.unseen{
	background: #dcdcdc;
    color: #3c3c3c;

}

#notification_info .heading{
	font-size: 20px;

}
#notification_info .bodymessage{
	padding: 0px 13px;
	width: 80%;
    margin-left: 0%;
}

#notification_info .heading em{
	font-size: 15px;
}
