.intro
{
    position: absolute;
    width: 86%;
    top: 60px;
    left: 7%;   
}

.intro h1
{
    font-size: 27px;
    color: #000;    
}

.intro h2
{
    float: right;
    margin-right: 30px;
    color: #2eb161;    
}

.intro h3
{
    color: #2eb161;    
}
.intro a img
{
    position: absolute;
    height: 50px;
    top: -40px;
    left: 0px;
}

#startButton
{
    font-size: 17px;
    width: 169px;
    height: 38px;
    background: #2eb161;
    color: #fff;
    border-color: #2eb161;
    border-width: 1px;
    transition: 0.2s;
    border-radius: 2px;
}

#startButton:hover
{
    
    border-width: 4px;
    border-color: #2eb161;
    
}

.testForm
{
    position: absolute;
    width: 86%;
    top: 350px;
    left: 7%;
   
    font-family: nesia;    
    
  
}

#ansSub
{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    width: 200px;
    height: 30px;
    background: #2eb161;
    color: #fff;
    border-color: #2eb161;
    border-width: 1px;
    transition: 0.1s;
    height: 43px;
}

#ansSub:hover
{
    border-width: 4px;
    border-color: #2eb161;
    
}

#areaChoosen
{
    margin-top: 10px;
}



/*****************************************************************************/
/*                           10-05-2016                                      */
/*****************************************************************************/
.navbar {
    border-radius: 0;
    background: #000000;
    height: 57px;
}
            
.container-fluid {
    border-radius: 0;
    margin: 0 4%;
}
            
.navbar-brand {
    margin-top: -5px;
}
.navbar-nav>li>.dropdown-menu{
    margin-top: 5px;
}

.panel-green > .panel-heading {
    background: #2ecc71;
    color: #fff;
    padding: 1.3% 2%;
}
}
.panel-body {
    padding: 15px;
}
.panel-green {
    border-color: #2ecc71;
}
.testForm label, .control-label{
    float: left !important;
    width: 3% !important;
    line-height: 38px !important;
    
}
.form-group{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.panel-title{
    font-size: 18px; 
}

.testForm .form-group select{
    background-color: #ffffff;
    color: #5f5f5f;
    box-sizing: border-box;
    max-width: 240px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 4px 16px;    
    border: 1px solid #dbdbdb;
}
.form-group>div{
    color: #5f5f5f;
    line-height: 40px;
}
.form-horizontal .control-label{
    padding-top: 0px !important;
    padding-bottom: 9px;
    padding-right: 36px;
    padding-left: 16px;
}

#scrambledWords input{
    height: 30px;
    border: none;
    border-bottom: solid 1px;
    width: 478px;
    font-size: 15px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}
#scrambledWords p {
    font-size: 15px;
}
#scrambledWords input:focus{
    border: none !important;
    outline: none;
    border-bottom: solid 1px #2ecc71 !important;
}

.highlighted{
    background-color: #FFFF77;
    padding: 8px 0px;
}


.modal-header {
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background: #ECA027;
    color: #fff;
}
